@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background: #fff;
}
.header-background {
    background-image: url(./images/Header-bg-desktop.svg);        
        background-repeat: no-repeat;
        background-size: cover;
        height: 40rem;
        position: absolute;
        background-color: #fff;
        border-bottom-left-radius: 4rem;
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
      
  }
  .about {
    margin:12rem 12rem;
  }

  .works {
    background: #f7f7f9;
    
  }
  .works .contentss {
    background: #f7f7f9;
  }
  .works .details:nth-child(1) {
    margin-top: 45rem;
  }
  .works .projects .details {
    background: #fff;
    padding: 1rem;
    border: 0.5px solid rgb(231, 231, 231);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    height: auto;
    width: 100%;
    margin-bottom: 4rem;
}

  .works .details {
    background: #f7f7f9;
    
  }
  .details .title-and-date span {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #c1c7d0;
  }
  .details .stack li {
    font-family: "Poppins", serif;
    padding: 0.25rem 0.75rem;
    background: #ebebff;
    border-radius: 0.3rem;
    color: #0e25f1;
    font-weight: 400;
    font-size: 0.75rem;
  }
  .works .projects {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  ul .categories .dropdown-items ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    gap: 1rem;
    background: #f7f7f9;
    padding: 1rem 0.5rem;
    border-radius: 0.4rem;
}

.contact-bg {
  background: white;
  border: none;
}

.contact-me {
  background-image: url(./images/ctback.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
  background-color: #6070ff;
  border-top-left-radius: 4rem;
  margin-top: -0.5rem;
}
.contact-form label {
  display: none;
}
